@import url(./_base.scss);
@import url(./_header.scss);

body {
    background-color: var(--text-gray);
}

.pc {
    display: block !important;
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 800px) {
    .pc {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }
}